<!DOCTYPE html>
<html>
	<header>
		<title><%= prod.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</header>
	
	<body>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" href="#">Logo</a>
            
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="products">Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact Us</a>
				</li>
			</ul>
			
			<ul class="navbar-nav">
				<li class="nav-item ">
					<a class="nav-link" href="admin">Admin</a> 
				</li>
			</ul>
		</nav>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9"></div>
				<div class="col-md-3">
					
				</div>
			
			<div class="col-md-12 p-0">
				<img id="test" class="img-fluid w-100" src=<%= prod.productBanner %>> 	<!–– Need to change to set image of the product page ––>
			</div>
		  </div>
		</div>
		
		<div class="container">
			<div class="row">
				<h2><%= prod.title %></h2>
			</div>
			<div id="demo" class="carousel slide" data-ride="carousel" style="padding:20px;">
				<!-- Indicators -->
				<ul class="carousel-indicators">
					<li data-target="#demo" data-slide-to="0" class="active"></li>
					<li data-target="#demo" data-slide-to="1"></li>
					<li data-target="#demo" data-slide-to="2"></li>
				</ul>

				<!-- The slideshow -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block mx-auto" src="./images/test.jpg">
					</div>
					<div class="carousel-item">
						<img class="d-block mx-auto" src="./images/test.jpg">
					</div>
					<div class="carousel-item">
						<img class="d-block mx-auto" src="./images/test.jpg">
					</div>
					<div class="carousel-item">
						<img class="d-block mx-auto" src="./images/test.jpg">
					</div>
					<div class="carousel-item">
						<img class="d-block mx-auto" src="./images/test.jpg">
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="carousel-control-prev" href="#demo" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>

			</div>
			<div class="row">
				<h5><%= prod.productHeader1 %></h5>
			</div>
			<div class="row">
				<p><%= prod.productFeature1 %></p>
			</div>
			
			<div class="row">
				<h5><%= prod.productHeader2 %></h5>
			</div>
			<div class="row">
				<p><%= prod.productFeature2 %></p>
			</div>
			
			<div class="row">
				<h5><%= prod.productHeader3 %></h5>
			</div>
			<div class="row">
				<p><%= prod.productFeature3 %></p>
			</div>
		</div>
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
			<h1>Specs</h1>      
			<div class="row">
				<p class="os-fa">Operating Systems: </p>
				<i class="fab fa-windows os-fa"></i>
				
				<i class="fab fa-apple os-fa"></i>
				<i class="fab fa-linux os-fa"></i>
			</div>
			<div class="row">
				<p class="os-fa">System Requirements: </p>
			</div>
			<div class="row">
				<span><b>RAM:</b> <%= prod.productRam%> GB </span>
			</div>
			<div class="row">
				<span><b>Hard Drive Space:</b> <%= prod.productHdd%>  GB</span>
			</div>
		  </div>
		</div>
	</body>
</html>